*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family: 'Poppins';
text-decoration: none;
scroll-behavior: smooth;
list-style: none;
}
header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgb(52, 10, 51);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight:600;
    text-wrap: nowrap;
    /*hover effect*/
    transition: 0.3s ease-in-out;
}
.logo:hover{
transform:scale(1.1);

}
.nav-links{
display:flex;
gap: 2rem;

}
/*list items and anchor text-anchor text to create hover effect*/
li a{
    position: relative;
    color:white;
    font-weight: 300;
}
/* create element inside page positioned relative to parent element*/
li a::before{
position: absolute;
content: '';
width: 0;
left: 0;
height: 5px;
top: 25px;
border-radius: 1rem;
/*hover effect and gradient effect*/
transition: 0.3s ease-in-out;
background: #377094;
background: linear-gradient(90deg,rgba(55, 112, 148, 1) 0%, rgba(150, 32, 148, 1) 59%, rgba(155, 42, 42, 1) 96%);
}
li a:hover::before{
    width: 100px;
}
/*maybe get rid of*/
.visit-btn{
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
background: #377094;
background: linear-gradient(90deg,rgba(55, 112, 148, 1) 0%, rgba(150, 32, 148, 1) 59%, rgba(155, 42, 42, 1) 96%);
}
/* when hover, a bit bigger*/
.visit-btn:hover{
 background: #377094;
background: linear-gradient(90deg,rgba(55, 112, 148, 1) 0%, rgba(150, 32, 148, 1) 59%, rgba(155, 42, 42, 1) 96%);
    transform: scale(1.03);
}
/*menu icon- increase size/ not visible rn*/
#menu-icon{
    font-size:2rem;
    display: none;
}
/*ABOUT SECTION*/
 section {
    min-height: 100vh;
    padding: 8rem 12%;
    width:100%;
    position: relative;

 }
 .about{
display:flex;
align-items:center;
justify-content: center;
 }
 .about .about-container {
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 5rem;
 }
.about img{
    /*viewport width*/
    width: 20vw;
    border-radius: 55%;
}
.info-box{
    display: flex;
 /*3 sections within, want them stacked on top of each other*/
     flex-direction: column;
     text-align: center;
     align-items: center;
     justify-content: center;
     gap:2rem;
}
.info-box h3{
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
}
.info-box h1{
    font-size: 3rem;
    font-weight: 600;
}
.info-box span{
     background: #377094;
background: linear-gradient(90deg,rgba(55, 112, 148, 1) 0%, rgba(150, 32, 148, 1) 59%, rgba(155, 42, 42, 1) 96%);
background-clip: text;
color: transparent;
font-size: 2rem;
}
.btn-group{
    display: flex;
    gap:1rem;

}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black ;
    cursor: pointer;
font-weight: 500;
text-wrap: nowrap;
transition: .2s ease-in-out;
}

.btn:hover{
    background-color: black;
    color: white;
}
.socials{
    display: flex;
    gap: 2rem;
}
.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: .2s ease-in-out;

}
.socials i:hover{
    transform: scale(1.1);
}

/*VISUALARTSSECTION*/
.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.visualarts-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
}
.visualarts img{
    display: flexbox;
   
  width: 100%;
  max-height: 100%;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:.2rem;
}
.grid-card{
    
    border-radius: 2rem;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    transition: 0.2s ease-in-out;
}
.grid-card:hover{
   
    background-color: rgba(0, 0, 0, 0.31);
  
}
.grid-card i{
    font-size: 1rem;
    margin-bottom:1rem;
}
.grid-card span{
    font-size: 1rem;
    font-weight: 500;
color: rgb(0, 0, 0);
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: gray;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom 90deg,rgba(55, 112, 148, 1) 0%, rgba(150, 32, 148, 1) 59%, rgba(155, 42, 42, 1) 96%);
}
